extend = "../../Makefile.toml"

[tasks.clippy]
args = [
  "clippy",
  "--all-targets",
  "--features",
  "transport-tx5-datachannel-vendored",
  "--",
  "--deny=warnings",
]

[tasks.test]
args = [
  "test",
  "--no-default-features",
  "--features",
  "transport-tx5-datachannel-vendored",
]
